@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #EEEEEE; }

/* fuentes */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem; }

.title__diseño {
  font-family: "Lato", sans-serif, 100;
  font-size: 1.5rem;
  text-decoration: underline; }

.sectionOne__title {
  font-size: 5rem;
  font-family: "Lato", sans-serif, 100;
  color: #616060;
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: center;
  font-style: oblique;
  text-shadow: 2px 2px 7px black; }

.sectionOne__title-h2 {
  font-size: 2.125rem;
  font-family: "Lato", sans-serif, 100;
  text-decoration: underline;
  margin-bottom: 30px;
  padding: auto;
  text-align: center; }

.title-card {
  font-size: 3rem;
  margin-bottom: 30px;
  padding: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px black; }

.menu {
  font-family: 'Lato', sans-serif, 180; }

.sectionTwo__title {
  font-size: 5rem;
  font-family: "Lato", sans-serif, 100;
  color: #616060;
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: center;
  font-style: oblique;
  text-shadow: 2px 2px 7px black; }

footer {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }

.footer__contacto {
  font-size: 0.9rem; }

.header__menu {
  box-shadow: 0 0 3px 3px; }

.header {
  position: sticky;
  top: 0;
  z-index: 1000; }

.header__img {
  width: 120px; }

.header__backgroundOne {
  background-image: url(../img/fotoFondo1.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  opacity: 70%; }

.header__iconos {
  font-size: 1.5rem;
  letter-spacing: 2rem; }
  .header__iconos a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712); }
    .header__iconos a:hover {
      color: rgba(128, 128, 128, 0.63); }

.header__backgroundTwo {
  background-image: url(../img/fotoFondo2.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  opacity: 70%; }

.header__backgroundThree {
  background-image: url(../img/fotoFondo3.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  opacity: 70%; }

.header__backgroundFour {
  background-image: url(../img/fotoFondo4.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  opacity: 70%; }

.header__backgroundFive {
  background-image: url(../img/fotoFondo5.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  opacity: 70%; }

.header__backgroundSix {
  background-image: url(../img/fotoFondo6.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  opacity: 70%; }

/* index */
.img-fluid {
  height: auto;
  padding: 20px;
  border-radius: 50%; }

.sectionOne__txt {
  padding: 20px; }

.sectionOne__img {
  width: 400px; }

/* segunda seccion */
.cardValores {
  padding: 20px;
  box-shadow: 0 0 3px 3px; }
  .cardValores img {
    border-radius: 60%; }

.wrap {
  width: 90%;
  max-width: 1170px;
  margin: 50px auto; }

.miswitch {
  border: 1px solid #225B78;
  border-radius: 20px;
  color: #fff;
  position: relative;
  margin: 0px auto 50px;
  width: 220px;
  height: 70px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between; }

.miswitch a {
  font-size: 30px;
  z-index: 2;
  position: relative;
  width: 50%;
  text-align: center;
  cursor: pointer; }

.swicht-btn {
  position: absolute;
  background: #0c1f2869;
  width: 50%;
  height: 90%;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  z-index: 1;
  transition: all .5s; }

.on {
  left: 97px; }

/* Tabla de precio*/
.pricing-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.pricing-table {
  width: 32%;
  transition: transform .5s ease;
  -webkit-perspective: 2000px;
  perspective: 2000px; }

.pricing-table:hover {
  transform: scale(1.07); }

.pricing-table-cont {
  background: #fff;
  text-align: center;
  position: relative;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: .3s ease; }

.pricing-table-month, .pricing-table-year {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff; }

.pricing-table-year {
  transform: rotateY(180deg); }

.rotando-tabla {
  transform: rotateY(180deg); }

.pricing-table-head {
  color: #173D50;
  padding: 30px 0px; }

.pricing-table-head h2 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold; }

.pricing-table-head h3 {
  font-size: 60px;
  font-weight: 400;
  display: inline; }

.pricing-table-head h3 sup, .pricing-table-head h3 sub {
  font-size: 20px;
  color: #ABB8C0;
  font-weight: 600; }

.pricing-table-head h3 sub {
  font-size: 13px; }

.pricing-table-head.estandar-title h2,
.pricing-table-head.estandar-title h3,
.pricing-table-head.estandar-title h3 sup,
.pricing-table-head.estandar-title h3 sub {
  color: #E97D68; }

.pricing-table-list li {
  background: #F1F3F5;
  padding: 10px 0; }

.pricing-table-list li:nth-child(2n) {
  background: #fff; }

.pricing-table-button {
  display: block;
  width: 100%;
  padding: 20px 0;
  background: #0C1F28;
  color: #fff;
  margin-top: 23px; }

.pricing-table-button.estandar {
  background: #E97D68; }

/* EQUIPOS */
.equipos {
  padding: 20px; }

.equipos__h2 {
  text-decoration: underline;
  text-align: center;
  margin: 30px;
  font-size: 2.125rem;
  font-family: "Lato", sans-serif, 100; }

/* video */
.videoHead {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }

.video {
  width: 100%;
  height: 100%; }

.design {
  width: 100%;
  height: 100%;
  top: 1000px;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center; }

/* app moviles */
.cardM1 {
  width: 400px;
  height: auto; }
  .cardM1 .icon1 {
    font-size: 120px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }
  .cardM1 h5 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif, 100;
    text-decoration: underline;
    margin: auto;
    margin-bottom: 30px;
    padding: auto;
    text-align: center;
    max-width: 100%; }
  .cardM1 p {
    font-size: 1.25rem;
    text-align: justify; }

.backgroundCard {
  background-color: #f8f8f8b0; }

/* personalizada */
.img-personal {
  width: 200px; }

/* trabajos */
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif; }

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  font-family: var(--font-sans); }

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr); } }

.cards {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1); }

@media (min-width: 600px) {
  .cards {
    height: 350px; } }

.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none; }

.cards:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e); }

.cards:nth-child(1):before {
  background-image: url(../img/social.jpg); }

.cards:nth-child(2):before {
  background-image: url(../img/diseños.jpg); }

.cards:nth-child(3):before {
  background-image: url(../img/comercio.jpg); }

.cards:nth-child(4):before {
  background-image: url(../img/citas.jpg); }

.cards:nth-child(5):before {
  background-image: url(../img/niños.jpg); }

.cards:nth-child(6):before {
  background-image: url(../img/entrenar.jpg); }

.cards:nth-child(7):before {
  background-image: url(../img/entretenimiento.jpg); }

.cards:nth-child(8):before {
  background-image: url(../img/personal.jpg); }

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1; }

.content > * + * {
  margin-top: 1rem; }

.titles {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2; }

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35; }

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none; }

.btn:hover {
  background-color: #0d0d0d; }

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px; }

@media (hover: hover) and (min-width: 600px) {
  .cards:after {
    transform: translateY(0); }
  .content {
    transform: translateY(calc(100% - 4.5rem)); }
  .content > *:not(.titles) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e); }
  .cards:hover,
  .cards:focus-within {
    align-items: center; }
  .cards:hover:before,
  .cards:focus-within:before {
    transform: translateY(-4%); }
  .cards:hover:after,
  .cards:focus-within:after {
    transform: translateY(-50%); }
  .cards:hover .content,
  .cards:focus-within .content {
    transform: translateY(0); }
  .cards:hover .content > *:not(.titles),
  .cards:focus-within .content > *:not(.titles) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8); }
  .cards:focus-within:before, .cards:focus-within:after,
  .cards:focus-within .content,
  .cards:focus-within .content > *:not(.titles) {
    transition-duration: 0s; } }

/* fin de cards */
.cardJob {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: auto; }

.imgTrabajos {
  width: 150px; }

/* CONTACTO */
.contentCent {
  text-align: center;
  justify-items: center;
  margin: auto;
  margin-top: 50px; }

.icon-size li {
  font-size: 30px;
  padding: 20px 0px;
  text-align: left; }
  .icon-size li i {
    font-size: 30px;
    padding-right: 20px; }

.icon-style i {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.63);
  font-size: 35px;
  padding: 15px 20px; }
  .icon-style i:hover {
    color: gray; }

.boton {
  background-color: rgba(128, 128, 128, 0.63); }

.txtBtn {
  text-decoration: none;
  color: white; }

.gracias {
  margin-top: 300px;
  margin-bottom: 300px; }

.bg-footer {
  background-color: #33383c; }

.footer-heading {
  letter-spacing: 2px; }

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s; }

.footer-link a:hover {
  color: #1bbc9b; }

.contact-info {
  color: #acacac;
  font-size: 14px; }

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block; }

.footer-heading {
  position: relative;
  padding-bottom: 12px;
  padding-top: 20px; }

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b; }

.redes {
  text-decoration: none; }

.footer-alt {
  color: white; }

/* RESPONSIVE INDEX ===============================  */
@media screen and (max-width: 1400px) {
  .sectionOne__img img {
    width: 200px;
    height: auto; } }

@media screen and (max-width: 790px) {
  .pricing-table {
    width: 72%;
    margin-bottom: 20px; }
  .pricing-wrap {
    justify-content: center; }
  .pricing-table:hover {
    transform: scale(1); } }

@media screen and (max-width: 540px) {
  .sectionOne__title {
    font-size: 30px; } }

@media screen and (max-width: 500px) {
  .pricing-table {
    width: 90%; } }

@media screen and (max-width: 250px) {
  .imgValores {
    width: 90px; }
  .miswitch {
    width: 60px; }
  .header__img {
    width: 60px; }
  footer {
    font-size: 10px; } }
