.footer__raya{
    background-color: #eaeaea;
    border: 0;
    height: 2px;
    margin-top: 9rem;
    width: 100%;
}

.footer__logo-img {
    width: 200px;
    margin-bottom: -50px;


}
.footer__logo {
    margin: 1rem;
    padding: 1rem; 
   
}


.footer__contacto {
    margin: 5rem 1rem 1rem 1rem;
    padding: 1rem;
    line-height: 30px;
    text-align: center;
}