

footer ul li{
    list-style: none;
}

.footer__logo-img {
    width: 200px;
    text-align: center;



}


.footer__contacto {
    
    line-height: 20px;
    text-align: center;
    
    
}

.footer__contacto div{
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer__enlaces {
    line-height: 30px;
    text-align: center;
}

.footer__enlaces ul a{
    text-decoration: none;
    color: rgb(43, 43, 43);

    
}


footer {
    @media screen and (max-width: 576px) {
        /* index-Style */
        .responsive {
          position: relative;
          
        }
}
}

