@import"mixins";

.header__menu {

        box-shadow: 0 0 3px 3px;
       
}

.header {
    position: sticky ;top: 0;
    z-index: 1000;

}


.header__img {
    width: 120px;
}

.header__backgroundOne {
    background-image: url(../img/fotoFondo1.jpeg);
    @include header;

}

.header__iconos{
    font-size: 1.5rem;
    letter-spacing: 2rem;
    a{
        text-decoration: none;
        color:rgba(0, 0, 0, 0.712);
        &:hover{
            color: rgba(128, 128, 128, 0.63);
        }
    }
}

.header__backgroundTwo {
    background-image: url(../img/fotoFondo2.jpeg);
    @include header;

}

.header__backgroundThree {
    background-image: url(../img/fotoFondo3.jpeg);
    @include header;

}

.header__backgroundFour {
    background-image: url(../img/fotoFondo4.jpeg);
    @include header;


}
.header__backgroundFive {
    background-image: url(../img/fotoFondo5.jpeg);
    @include header;

}
.header__backgroundSix {
    background-image: url(../img/fotoFondo6.jpeg);
    @include header;

}