@import"mixins";

.sectionOne__title-h2{
    @include  titleH2

}

.sectionTwo__title {
    @include  title    
}

.sectionOne__img {
    width: 300px;
    
}

.cardIndex {
    margin: auto;
    width: 300px;
    height: 230px;
    text-align: justify;
    border-radius: 10px;
    border-color: black ;
    font-family: $txt-family;


        .cardIndex__title {
                     @include titleH5 
                    }

        .cardIndex__txt {
                    font-family: $txt-family;
                    }
}

/* EQUIPOS */

.sectionOne__title {
    @include  title  
}

.equipos__h2 {
    text-decoration: underline;
    text-align: center;
    margin: 30px;
    font-size: $h2-size;



    
}

.equipo_img {
    border-radius: 100%;
}

.diseño__background {
    background-image: url(../img/codificando.jpg);
 
    @include header

   
}

 .card__h5{
        color: black;
        font-size: 3rem;


    }