@mixin header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    opacity: 80%;
}
@mixin title {
    font-size: $h1-size;
    font-family: $title-family;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center; 
}
@mixin titleH2 {
    font-size: $h2-size;
    font-family: $title-family;
    text-decoration: underline;
    margin-bottom: 30px;
    padding: auto;
    text-align: center; 

    
}
@mixin titleH5 {
    font-size: $h5-size;
    font-family: $title-family;
    text-decoration: underline;
    margin: auto;
    margin-bottom: 30px;
    padding: auto;
    text-align: center;
    max-width: 100%;
}




