body {
    font-family: $txt-family;
    font-size: $txt-size;
}

.title__diseño {
    font-family: $title-family;
    font-size: $h5-size;
    text-decoration: underline;
}

.sectionOne__title {
    @include  title  
}

.sectionOne__title-h2{
    @include  titleH2

}

.title-card {
    font-size: 3rem;
    margin-bottom: 30px;
    padding: auto;
    text-align: center;  
    font-family: $txt-family;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.menu {
    font-family: 'Lato', sans-serif, 180;
}

.sectionTwo__title {
    @include  title    
}

footer {
    font-family: $txt-family;
    font-size: $txt-footer;
}
.footer__contacto {
    font-size: 0.9rem;
    
}
